# .gitignore
# created by LuYF-Lemon-love <luyanfeng_nlp@qq.com>

.ipynb_checkpoints/
script/.ipynb_checkpoints/
data/
data.rar
embedding_analysis/train/
embedding_analysis/ckpts/
paper01-dgl-ke/01-model/dataset
paper01-dgl-ke/01-model/ckpts
